<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110512021910-fsnk60hbrhka6i382aq8t0cbvt0ua4ji.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110512021910-fsnk60hbrhka6i382aq8t0cbvt0ua4ji</string>
	<key>API_KEY</key>
	<string>AIzaSyCPhYl9vdHgpsnvHarRyxhKi1IQlp2qxas</string>
	<key>GCM_SENDER_ID</key>
	<string>110512021910</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.burguer</string>
	<key>PROJECT_ID</key>
	<string>burguer-a721e</string>
	<key>STORAGE_BUCKET</key>
	<string>burguer-a721e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110512021910:ios:f30da6e59f14b3cec23db7</string>
</dict>
</plist>